{{>layout/header}}

<form class="container" action="/articles/create" method="post">
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="title">
    </div>
    <div class="mb-3">
        <label class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{>layout/footer}}